body {
    background-color: lightgrey;
    box-sizing: border-box;
    width: 910px;
    margin: 0;
}

* {
    font-size: 18px;
    font-weight: 400;
}

h1 {
    font-weight: 600;
}

h1,
p.planRate strong {
    font-size: 36px;
}

h1,
div.plan {
    text-align: center;
}

main {
    box-shadow: 1.5px 1.5px 1px 1.5px grey;
}

div.plan {
    display: inline-block;
    width: 33%;
    text-align: center;
    background-color: white;
}

div.plan li:nth-child(2n+1) {
    background-color: rgba(47, 59, 64, 0.35);
}

div.plan strong {
    color: black;
}

div.plan p {
    color: lightslategray;
}

h2,
h2 strong {
    font-size: 24px;
}

strong {
    font-weight: 800;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

li p {
    margin: 0px;
    padding: 10px 0px;
}

#budgetPlan {
    background-color: #5BB189;
}

#standardStudent,
#confidence {
    background-color: #2F4F4F
}

#standardStudent strong,
#standardStudent p,
#confidence {
    color: white;
}

#standardPlan {
    background-color: #4B0082;
}

#scholarshipPlan {
    background-color: #EC632A;
}

#confidence p {
    font-weight: 300;
}


button {
    background-color: #3A6BA5;
    width: 90%;
    height: 5%;

    margin-bottom: 5%;
    border-width: 0px;
    border-radius: 5px;
}

button:hover {
    background-color: #437CBF;
}

button a:link {
    color: white;
}

button a:visited {
    color: violet;
}

button a {
    text-decoration: none;
}

#confidence {
    padding: 3% 0% 1% 2%;
    margin-top: 10px;
}

#confidence * {
    padding: 5px;
    margin: 0px;
}

#confidence li {
    background-image: url("../images/checkmark.svg");
    background-size: 24px;
    background-repeat: no-repeat;
    padding-left: 30px;
}

u {
    color: lightblue;
    font-weight: bold;
}