@import url(./variables-palette-7.css);

body {
    box-sizing: border-box;
    margin: 0;
}

* {
    font-weight: 300;
    font-size: 16px;
}

#container {
    margin: 0% 1%;
    padding: 0% 2%;
    border: 1pt solid var(--color-neutral-100);
}

header {
    background-color: var(--color-primary-1-800);
    width: 99%;
    margin-left: 0.5%;
}

header,
caption {
    color: white;
    text-align: center;
}

h1 {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

#searchBar {
    background-color: var(--color-neutral-200);
    margin-top: 15px;
    padding: 1% 0 1% 1%;
}

select,
input[type=submit],
th {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

table {
    background-color: var(--color-neutral-200);
    margin-top: 10px;
}

#tableLabel {
    background-color: var(--color-primary-1-600);
    font-size: 18px;
    font-weight: 400;
}

thead {
    background-color: var(--color-primary-1-050);
}

th {
    text-align: left;
}

#checkbox {
    width: 2.5%
}

#painting,
#genre {
    width: 10%;
}

#title {
    width: 30%;
}

#artist {
    width: 20%;
}

#year {
    width: 5%;
}

#actions {
    width: 15%;
}

img.painting {
    width: 100%;
}

.title {
    font-style: italic
}

button:first-child {
    background-color: var(--color-primary-1-300);
}

#bulkActions {
    background-color: var(--color-neutral-200);
    height: 3%;
    margin-top: 5px;
    padding: 1% 0 1% 1%;
}

#bulkActions input[type=submit] {
    background-color: var(--color-primary-1-500);
    color: white;
    border-radius: 5px;
}